server {
    listen ${NGINX_PORT};
    server_name ${NGINX_HOST};
    access_log /var/log/nginx/${NGINX_HOST}.log;
    client_max_body_size 20M;

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $http_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_pass http://ghost:2368;
        proxy_redirect off;
    }
}